<!DOCTYPE html>
<html>
<head>
  <title>Pokenea Salvaje</title>
</head>
<body>
  <h1>¡Has encontrado un Pokenea!</h1>
  <ul>
    <li><strong>ID:</strong> <%= pokenea.id %></li>
    <li><strong>Nombre:</strong> <%= pokenea.name %></li>
    <li><strong>Altura:</strong> <%= pokenea.height %></li>
    <li><strong>Habilidad:</strong> <%= pokenea.ability %></li>
  </ul>
</body>
</html>
